
		

		
			<div class="row">
				<main class="col-md-12">
		<div class="add-div">
                    <h1 style="background-color:powderblue;">Welcome to Anmol's HTML5 webpage</h1>
					<br><br>
					<h3>About Me</h3>

                    <p>Name : Anmol Agarwal</p>
                    <p>Student ID : 155037211</p>
                    <p>Program: DAD</p>

					<p>Hello, I am anmol agarwal and I am passionate about learning new technology. I would love to work in the Cloud industry.</p>
					<p>I am studying the Database application course at Seneca college, North york. </p>
					
                    <h3>Contact Us</h3>
                    <p>email: aagarwal25@myseneca.ca</p>

				
			</div>
			</main>
		</div>

