
			<div class="row">
				<main class="col-md-12">
					
                    <h1 style="margin-top: 5%;">HTML5 DEMO: Tables</h1>
					
<div class="tbl-div">
                    
					<table class="table">
						<caption>League Standing</caption>
						<thead>
							<tr><th colspan="3" class="tspan">List of footbal table ranking</th></tr>
							<tr>
								<th>Team Name</th>
								<th>Coach</th>
								<th>Ranking</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                                <td>Manchester City</td>
                                <td>Pep Guardiola</td>
								<td class="tid">1</td>
							</tr>
							<tr>
								<td>Manchester United</td>
								<td>Ten Hag</td>
                                <td class="tid">2</td>
							</tr>
							<tr>
								
								<td>Chelsea</td>
								<td>Thomas Tuchel</td>
                                <td class="tid">3</td>
							</tr>
							<tr>
								<td>Liverpool</td>
								<td>Jurgen Klopp</td>
                                <td class="tid">4</td>
							</tr>
						</tbody>
						<tfoot>
						</tfoot>
					</table>
				</div>
					

                    
						<div class="tbl-div">
					<table class="table">
						<thead>
							<tr>
								<th colspan="4" class="tspan"></th>
							</tr>
							<tr>
								<th>Player Name</th>
                                <th>Age</th>
                                <th>Position</th>
                                <th>Team</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Phil Foden</td>
                                <td>22</td>
                                <td>Mid-fielder</td>
                                <td>Machester City</td>
							</tr>
							<tr>
								<td>Cristiano Ronaldo</td>
                                <td>36</td>
                                <td>Striker</td>
                                <td>Manchester United</td>
							</tr>
							<tr>
								<td>Sergio Ramos</td>
                                <td>34</td>
                                <td>Defender</td>
                                <td>PSG</td>
							</tr>
							<tr>
								<td>Lionel Messi</td>
                                <td>34</td>
                                <td>Left Winger</td>
                                <td>PSG</td>
							</tr>
							
						</tbody>
					</table>
					<p>The table shows you the football league standing of premier league. The second table shows the player info.
                        </p>
						</div>

					<h1 style="margin-top: 5%;">HTML5 DEMO:Lists</h1>

					<h2>List of city and colleges :</h2>
					<ol>
						<li>Toronto
							<ul>
								<li>Seneca College</li>
								<li>Geroge Brown</li>
								<li>Humber College</li>
							</ul></li>
						<li>London
							<ul>
								<li>University of western ontario</li>
								<li>Fanshawe college</li>
								<li>Lambton college</li>
							</ul>
						</li>
						<li>Vancouver
							<ul>
								<li>Vancouver film school</li>
								<li>University canada west</li>
								<li>Langara college</li>
							</ul>
						</li>
						<li>Montreal 
							<ul>
								<li>Mcgill</li>
								<li>univerity of montreal</li>
								<li>Vanier college</li>
							</ul>
						</li>
						<li>Ottawa
							<ul>
								<li>algonquin college</li>
								<li>carelton univerity</li>
								<li>univeristy of ottawa</li>
							</ul>
						</li>
						
					</ol>
					<p>These are the different cities in canada with different colleges</p>

					<h1 style="margin-top: 5%;">HTML5 DEMO: Images</h1>
					<table class="table">
						<tr>
							<th>Image of a Snow Boarder</th><td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snow Boarder" width="600" height="360"></td>
						</tr>
						<tr>
							<th>Image of sunset</th><td><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="Sunset" width="600" height="360"></td>
						</tr>
						<tr>
							<th>Image of boat</th><td><img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg" alt="Boat" width="600" height="360"></td>
						</tr>
					</table>

					<h1 style="margin-top: 5%;">Introduction to HTML Audio</h1>
					<audio controls>
						<source src=" https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
					</audio>

					<h1 style="margin-top: 5%;">Introduction to HTML Video</h1>
					<video width="400" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg" type="video/ogg">
						Your browser does not support HTML video.
					  </video>
				
			
			</main>
		</div>

